
        html {
            height: 100%;
        }
        body{
            font-family: 'Bebas Neue', sans-serif;
            height: 100%;
            width: 100%;
            margin: 0;
            background-image: linear-gradient(to left bottom, rgb(97, 22, 197), rgb(189, 38, 19), rgb(189, 138, 19));
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header-div {
            display: flex;
            justify-content: center;
        }
        h1 {
            
            color: white;
        }


        div{
            -webkit-transition: rotate 0.5s ease-in-out;
       -moz-transition: rotate 0.5s ease-in-out;
       -o-transition: rotate 0.5s ease-in-out;
       transition: rotate 0.5s ease-in-out;
       

        }

        .container {
            width: 90vw;
            height: 40vh;
            padding: 50px;
            margin-top:100px;
            /* margin: .1vw; */
            }

        .organism {
            border: 2px solid rgba(255, 140, 0, 0.228);
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .btn-div {
            display: flex;
            justify-content: center;
            margin-top:25vh;
            transition: all .2s;
        }

        /* .btn-inside {
            height:5vh;
            width:5vh;
            background-color: black;
            
            font-size: 16px;
            border-color: black;
           
            padding: 2rem 2rem;
            display:inline-block;
            border-radius:90px;
            margin-top:25vh
        } */
           
        .btn-inner {
            font-family: 'Bebas Neue', sans-serif;
            position: absolute;
            left:32px;
            top:40px;
            /* font-family: 'Times New Roman', Times, serif; */
            font-size: 30px;
            font-weight: 800;
            color:#4D2600;
            color: #BFE600;
            color: white;
        }

        .btn-start {
            /* transform: translateX(-100px); */
            position: relative;
            height:15vh;
            width:15vh;
            padding: 1rem 2rem;
            display:inline-block;
            border-radius:90px;
            /* margin-top:35vh; */

            
            border: 6px solid #4D2600;
            background-color:  #BFE600;
            background-color: #FF5500;
            background-color: #5900B3;
            -webkit-appearance: none;
            text-decoration: none;
            border-radius:90px;
            box-shadow: 0 1rem 2rem black;
        }